body {
    margin: 0px;
    min-height: 80lvh;
    display: flex;
    flex-direction: column;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

#katzihider {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100vw;
    height: calc(50vh - 3px);
    background-image: linear-gradient(to bottom, #12C2FD, #12aefd);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 2px solid black;
    letter-spacing: -5.5px;
    font-size: 50px;
    color: #e61fea;
    text-shadow: 100px 29px #23001b;
    text-indent: -70px;
}

.project {
    margin: 10px;
    margin-top: 60px;
    width: 200px;
    height: 200px;
    background-color: #0C0C0C;
    border-bottom: 2px solid #1264fd;
    border-right: 2px solid #1264fd;
    box-shadow: 9px 9px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    text-shadow: 0px 0px;
    text-indent: 0px;
    letter-spacing: 0px;
}

#projects {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: white;
}
